<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
    <link rel="stylesheet" type="text/css" href="/style/styles.css">
</head>
<body>
    <header>
        <h1>Members Only</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <% if (!user) {%>
                    <li>
                        <a href="/log-in">Log In</a>
                    </li>
                    <li>
                        <a href="/sign-up">Sign Up</a>
                    </li>
                    <%}%>
                        <%if (user) {%>
                            <li>
                                <a href="/log-out">Log out</a>
                            </li>
                            <li>
                                <a href="/membership">Member Status</a>
                            </li>
                            <%}%>
                                <%if ( user && user.membership_status===true) { %>
                                    <li>
                                        <a href="/create-post">New Post</a>
                                    </li>
                                    <%}%>
            </ul>
        </nav>
    </header>
    <h2>You are logged in as <%= user.username %>
    </h2>
    <a href="/log-out">Log out</a>
    <% if (user.membership_status === true) {%>
            <h2>You are already a Member!</h2>
            <a href="/">Go home</a>
            <form action="/lose-membership" method="POST">
                <label for="quit">Tick and Submit to Quit:</label>
                <input type="checkbox" id="quit" name="quit">
                <input type="submit" value="Quit">
            </form>
        <% } else {%>
            <% if (incorrectLogin) { %>
                <h2>Incorrect Secret!</h2>
            <% } %>
            <h2>You are not a member!</h2>
            <form action="/membership" method="POST">
                <label for="secret">Put in the secret word to become a member</label>
                <input id="secret" name="secret" placeholder="secret" type="text" />
                <input type='submit' value="Enter secret">
            </form>
            <%}%>
    <footer>
        <p>Created by <a href="https://github.com/jdogcodey">jdogcodey</a> - Following <a
                href="https://www.theodinproject.com">The Odin Project</a></p>
        <a href="https://www.theodinproject.com/lessons/node-path-nodejs-members-only">Members Only Project</a>
    </footer>
</body>
</html>